<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Search</title>
</head>
<body>
    <h1>Stock Search</h1>
   

    <!-- tell the form where to send the information from the user-->
    
    <form action="/info">
        <!--form inputs: is where the user types stuff -->
        <label>
            Stock code: 
            <input type="search" name="code" placeholder="MSFT" autofocus> 
        </label>
        <button>Search</button>      
    </form>
</body>
</html>