<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Search</title>
</head>
<body>
    <h1>Stock Search</h1>

    <nav>
        <a href="/">Home</a>
    </nav>

    <p>
        The current price for
        <%= company %>
        is    
        <%= price %>
    </p>


</body>
</html>